@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

/* header--------------------------------------------------------------------- */

.header {
  background: #fff;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

.site_container {
  max-width: 768px;
  padding: 0 50px;
  margin: 0 auto;
}

.header__container {
  padding: 10px 50px 11px 50px;
}

.header__nav {
  display: flex;
  max-width: 668px;
  min-height: 48px;
  justify-content: space-between;
  align-items: center;
}

.burger__menu {
  width: 30px;
  height: 23px;
  background-image: url("../img/burger_icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  border: 0;
  transition: transform 0.5s ease-in-out;
}

.burger__menu__cross {
  background-image: url("../img/x.svg");
  z-index: 55;
  position: relative;
  top: 10px;
  transform: translate(117px);
  transition: transform 1s ease-in-out;
}

.header__logo {
  display: block;
  width: 155px;
  height: 48px;
}

.right__header {
  display: flex;
  max-width: 24px;
  max-height: 24px;
}

.header__list {
  display: block;
  position: absolute;
  background-color: gray;
  left: 0px;
  width: 250px;
  z-index: 50;
  transform: translate(-255px);
}

.burger__content {
  transform: translate(0);
  transition: transform 1s ease-in-out;
}

.header__item {
  margin: 20px 80px 40px 30px;
}

.header__link {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button__search {
  background: none;
  border: none;
  padding: 0;
}
/* main--------------------------------------------------------------------- */
.hero {
  margin-bottom: 80px;
}

.slide__resolution {
  width: 100%;
  height: 662px;
  margin: 0;
}
.carousel-indicators {
  bottom: 14px;
  left: 22px;
}

.carousel-indicators [data-bs-target] {
  border-radius: 15px;
  background: #fff;
  width: 15px;
  height: 15px;
  border: 0;
  margin: 0;
  margin-right: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 2%;
}

.carousel__container {
  position: absolute;
  height: 100%;
  padding: 160px 40px;
}

.title__carousel {
  max-width: 588px;
  min-height: 122px;
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}

.paragraph__carousel {
  max-width: 588px;
  min-height: 66px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 60px;
}

.btn__carousel {
  max-width: 280px;
  width: 100%;
  max-height: 78px;
  height: 100%;
  padding: 18.571px 37.142px;
  color: #fff;
  font-size: 23.458px;
  font-weight: 700;
  background: #f90;
  border: 0;
}

.about {
  margin-bottom: 80px;
}

.title__about {
  max-width: 149px;
  max-height: 54px;
  margin-bottom: 14px;
  color: #333;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.paragraph__about {
  max-width: 668px;
  min-height: 389px;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 56px;
}

.about__container {
  display: flex;
  flex-direction: column;
  max-width: 668px;
  min-height: 1184px;
}

.container__one {
  display: flex;
  align-items: end;
  max-width: 668px;
  min-height: 650px;
  background-image: url("../img/img_container1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 32px;
}

.holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 668px;
  width: 100%;
  min-height: 196px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 34px 40px;
}

.paragraph__holder {
  max-width: 366px;
  width: 100%;
  min-height: 128px;
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
}

.btn-holder {
  max-width: 175px;
  min-height: 60px;
  padding: 19px 35px;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 3px solid #f90;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.container__two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 668px;
  min-height: 502px;
}

.desc__one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  max-width: 668px;
  min-height: 235px;
  border: #cacaca solid 1px;
  padding: 35px 44px 33px 40px;
}

.img_desc {
  max-width: 114px;
  min-height: 99px;
  margin-right: 16px;
}

.container_two_text {
  max-width: 452px;
  min-height: 165px;
}

.title_desc {
  min-height: 29px;
  color: #333;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title_desc_one {
  max-width: 452px;
}

.title_desc_two {
  max-width: 406px;
}

.paragraph_desc {
  max-width: 450px;
  min-height: 128px;
  margin-right: 2px;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

.desc__two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 668px;
  min-height: 235px;
  border: #cacaca solid 1px;
  padding: 35px 48px 33px 40px;
}

.how {
  margin-bottom: 80px;
}

.title_how {
  max-width: 430px;
  height: 58px;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 47px;
}

.buttons_how {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.step__one {
  background: none;
  color: #e1670e;
  font-size: 18px;
}

.step__another {
  background: none;
  font-size: 18px;
}

.how__container {
  max-width: 668px;
  min-height: 799px;
}

.one-container {
  max-width: 668px;
  min-height: 284px;
  background-image: url("../img/img_work.jpg");
  background-repeat: no-repeat;
  margin-bottom: 38px;
}

.two-container {
  max-width: 667px;
  min-height: 477px;
  height: 100%;
}

.title-container {
  max-width: 331px;
  min-height: 32px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.paragraph-how {
  max-width: 667px;
  min-height: 352px;
  margin-bottom: 25px;
  line-height: 32px; /* 200% */
}

.btn-two-container {
  display: flex;
  justify-content: space-between;
  max-width: 354px;
  max-height: 60px;
}

.btn-one {
  max-width: 175px;
  min-height: 60px;
  padding: 19px 38px;
  background: #f90;
  color: #fff;
  font-weight: 700;
  margin-right: 32px;
}

.btn-two {
  max-width: 147px;
  min-height: 60px;
  background-color: #fff;
  padding: 19px 38px;
  color: #333;
  border: 1px solid #333;
}

.accordion-item {
  border-top: 1px solid #cacaca;
  padding-top: 30px;
  padding-bottom: 30px;
}
.accordion-item:last-child {
  border-bottom: 1px solid #cacaca;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-black);
  background-color: var(--bs-white);
  border-color: var(--bs-white);
}

.accordion-button::after {
  background-image: url("../img/accordion__cross.svg");
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 0;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../img/accordion__cross.svg");
  width: 50px;
  height: 50px;
  background-size: cover;
}

.accordion-button:focus {
  box-shadow: none;
}

.faq {
  margin-bottom: 81px;
}

.title__faq {
  max-width: 668px;
  min-height: 117px;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 33px;
}
.accordion {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}
.accordion-button {
  padding: 0;
}
.title__accordion {
  max-width: 570px;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
  margin: 0;
  margin-right: 48px;
}
/* footer--------------------------------------------------------------------- */
.footer-container {
  background-color: #222;
}
.footer {
  max-width: 768px;
  min-height: 792px;
  padding: 50px 148px 50px 50px;
}
.footer-content {
  display: flex;
  flex-direction: column-reverse;
}
.item-two {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  min-height: 494px;
  margin: 0 auto;
  margin: 0;
}
.title-two-item {
  max-width: 408px;
  min-height: 59px;
  color: #cacaca;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.name {
  max-width: 541px;
  width: 100%;
  min-height: 60px;
  background: #414141;
  margin-bottom: 25px;
  padding: 14px 24px;
  color: #cacaca;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.email {
  min-height: 60px;
  max-width: 541px;
  width: 100%;
  background: #414141;
  margin-bottom: 25px;
  padding: 14px 24px;
}
.massage {
  max-width: 541px;
  min-height: 150px;
  background: #414141;
  margin-bottom: 32px;
  padding: 14px 24px;
  color: #cacaca;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.block_form {
  display: flex;
  align-items: center;
}
.btn-form {
  max-width: 240px;
  min-height: 58px;
  background: #f90;
  color: #fff;
  padding: 19px 38px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 22px;
  white-space: nowrap;
}
.real-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #222222;
  border: 1px solid #cacaca;
  vertical-align: middle;
}
.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 8px;
  background-image: url("../img/Check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.text-checkbox {
  color: #cacaca;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.item-one {
  display: flex;
  max-width: 230px;
  min-height: 148px;
  flex-direction: column;
}
.footer-logo {
  margin-bottom: 16px;
}
.footer__list {
  display: none;
}
.social {
  display: flex;
}
.social li:not(:last-child) {
  margin-right: 25px;
}
.social-item {
  min-width: 60px;
  min-height: 60px;
  background-repeat: no-repeat;
}
.item__fb {
  background-image: url("../img/icon_fb.svg");
}
.item__vk {
  background-image: url("../img/icon_vk.svg");
}
.item__inst {
  background-image: url("../img/icon_inst.svg");
}
